<a href="gestionVentas"> <button style="border-radius: 40px; margin-left: 20%" type="button" class="btn btn-primary"><i
            class="fa-solid fa-backward"></i>Atras</button></a>
<div class="d-flex justify-content-center text-center">

    <h1>Añadir venta</h1>

    <form>

        <div>
            <div style="padding-top: 7%;" class="d-inline-block ">
                <h5 style="font-weight: bold;">Datos del la venta</h5>
                
                <div class="form-group" id="margenForm3">
                    <div style="display: flex; justify-content: space-between; padding: 2%;padding-left: 10%">
                        <div class="col">
                        <label for="name">Id venta</label>
                        <div>
                            <input style="border-radius: 40px" placeholder="1" type="text" class="form-control"
                                disabled>
                        </div>
                    </div>
                        <div class="col">
                        <label for="exampleFormControlSelect1">Cliente</label>
                        <select style="border-radius: 40px" class="form-select" id="exampleFormControlSelect1">
                            <option id="nn" value="fff">Andres</option>
                            <option id="nn">Raul</option>
                        </select>
                    </div>
                    </div>
                    <div style="display: flex; justify-content: space-between; align-items: center">
                        <div class="col">
                            <label for="name">Fecha y hora</label>
                            <div>
                                <input style="border-radius: 40px" type="text" class="form-control" placeholder="22/08/11"
                                    disabled>
                            </div>
                        </div>
                        <div class="col">
                            <label for="name">Forma de pago</label>
                            <div>
                                <input style="border-radius: 40px" type="text" class="form-control"
                                    placeholder="">
                            </div>
                        </div>
                        <div class="col">
                            <label for="name">Costo mano de obra</label>
                            <div>
                                <input style="border-radius: 40px" type="text" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="col">
                            <label for="name">Valor mano obra</label>
                            <div>
                                <input style="border-radius: 40px" type="text" class="form-control" placeholder="">
                            </div>
                        </div>
                    </div>

                </div>

                <h5 style="font-weight: bold; margin-top:4%; margin-bottom: 3%">Agregar productos a la venta</h5>

                <div id="margenForm2" style="margin-top: 4%;">
                    <div class="col">
                        <label for="exampleFormControlSelect1">Id producto</label>
                        <select style="border-radius: 40px" class="form-select" id="exampleFormControlSelect1">
                            <option id="nn" value="fff">1</option>
                            <option id="nn">2</option>
                            <option id="nn">3</option>
                        </select>
                    </div>
                    <div class="col">
                        <label for="name">Precio compra</label>
                        <div>
                            <input style="border-radius: 40px" type="text" class="form-control" placeholder=""
                                >
                        </div>
                    </div>
                    <div class="col">
                        <label for="name">Precio venta</label>
                        <div>
                            <input style="border-radius: 40px" type="text" class="form-control" placeholder=""
                                >
                        </div>
                    </div>

                    <div class="col">
                        <label for="name">Cantidad producto</label>
                        <div>
                            <input style="border-radius: 40px" type="text" class="form-control" placeholder=""
                                >
                        </div>
                    </div>


             
                    <div class="col">
                        <label for="name">Total</label>
                        <div>
                            <input style="border-radius: 40px" type="text" class="form-control">
                        </div>
                    </div>
               


                </div>

            </div>
        </div>


        <div class="d-flex justify-content-center text-center">
            <button style="border-radius: 40px; margin-top: 3%;" type="button" class="btn btn-primary" id="botoncito"
                onclick="registrar()"><i class="fa-solid fa-plus"></i>Registrar</button>
            <script>
                function registrar() {
                    Swal.fire(
                        'Registro Exitoso!',
                        'Venta registrada con exito!',
                        'success'
                    )
                } 
            </script>
    </form>
</div>




</div>