<a href="cotizaciones"> <button style="border-radius: 40px; margin-left: 20%" type="button" class="btn btn-primary"><i
            class="fa-solid fa-backward"></i>Atras</button></a>
<div class="d-flex justify-content-center text-center">

    <h1>Añadir cotizacion</h1>

    <form>

        <div>
            <div style="padding-top: 5%;" class="d-inline-block ">
                <h5 style="font-weight: bold;">Datos del la cotizacion</h5>
                <div id="margenForm2">
                    <div class="col">
                        <label for="name">Id cotizacion</label>
                        <div>
                            <input style="border-radius: 40px" placeholder="1" type="text" class="form-control"
                                disabled>
                        </div>
                    </div>
                    <div class="col">
                        <label for="name">Fecha emision</label>
                        <div>
                            <input style="border-radius: 40px" type="text" class="form-control" placeholder="04/09/2023"
                                disabled>
                        </div>
                    </div>
                    <div class="col">
                        <label for="exampleFormControlSelect1">Vehiculo</label>
                        <select style="border-radius: 40px" class="form-select" id="exampleFormControlSelect1">
                            <option id="nn" value="fff">QCE33G</option>
                            <option id="nn">AMG20F</option>
                            <option id="nn">+Añadir Vehiculo</option>
                        </select>
                    </div>

                    <div class="col">
                        <label for="exampleFormControlSelect1">Cliente</label>
                        <select style="border-radius: 40px" class="form-select" id="exampleFormControlSelect1">
                            <option id="nn" value="fff">Manuela Garcia</option>
                            <option id="nn">Jaime Gomez</option>
                            <option id="nn">+Añadir Cliente</option>
                        </select>
                    </div>


             
                    <div class="col">
                        <label for="name">Descripcion</label>
                        <div>
                            <input style="border-radius: 40px" type="text" class="form-control">
                        </div>
                    </div>
               


                </div>
                <h5 style="font-weight: bold; margin-top:4%; margin-bottom: 3%">Agregar insumos a la cotizacion</h5>

                <div class="form-group" id="margenForm3">
                    <div style="display: flex; justify-content: space-between; padding: 2%;padding-left: 10%">
                        <div class="col">
                            <label for="exampleFormControlSelect1">Seleccione el producto</label>
                            <select style="border-radius: 40px" class="form-select" id="exampleFormControlSelect1">
                                <option id="nn" value="fff">Aceite</option>
                                <option id="nn">Lubricante</option>
                                <option id="nn">Baterias</option>
                                <option id="nn">Neumaticos</option>
                            </select>
                        </div>
                        <div class="col">
                            <label for="name">Total</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                </div>
                                <input style="border-radius: 40px" type="text" class="form-control" placeholder="50000">
                            </div>
                        </div>
                    </div>
                    <div style="display: flex; justify-content: space-between; align-items: center">
                        <div class="col">
                            <label for="name">Id producto</label>
                            <div>
                                <input style="border-radius: 40px" type="text" class="form-control" placeholder="1"
                                    disabled>
                            </div>
                        </div>
                        <div class="col">
                            <label for="name">Producto</label>
                            <div>
                                <input style="border-radius: 40px" type="text" class="form-control"
                                    placeholder="Aceite">
                            </div>
                        </div>
                        <div class="col">
                            <label for="name">Precio</label>
                            <div>
                                <input style="border-radius: 40px" type="text" class="form-control" placeholder="25000">
                            </div>
                        </div>
                        <div class="col">
                            <label for="name">Cantidad</label>
                            <div>
                                <input style="border-radius: 40px" type="text" class="form-control" placeholder="2">
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>


        <div class="d-flex justify-content-center text-center">
            <button style="border-radius: 40px; margin-top: 3%;" type="button" class="btn btn-primary" id="botoncito"
                onclick="registrar()"><i class="fa-solid fa-plus"></i>Registrar</button>
            <script>
                function registrar() {
                    Swal.fire(
                        'Registro Exitoso!',
                        'Compra registrada con exito!',
                        'success'
                    )
                } 
            </script>
    </form>
</div>




</div>