<!-- /top navigation -->

<!-- head -->
<div class="right_col" role="main">

  <div class="row" style="display: inline-block;">

    <h1>Gestion de ventas</h1>
    <div class="tile_count">

      <!--APARTADO DE AÑADIR FLECHA-
            <i class="fa-solid fa-backward"></i> -->



    </div>
  </div>
  <!--search-->
  <div>

    <div class="contenedorBarras">
      <form class="d-flex">
        <div class="bbuscar">
          <nav class="navbar navbar-light bg-light">
            <form class="container-fluid">
              <div class="input-group">
                <span style="border-radius: 40px;  background-color: white" class="input-group-text"
                  id="basic-addon1"><i class="fa-solid fa-magnifying-glass"></i>
                  <input style="border-radius: 40px; border: none;" type="text" class="form-control "
                    placeholder="Buscar" aria-label="Nombre de usuario" aria-describedby="basic-addon1"></span>
              </div>
            </form>
          </nav>
        </div>
        <!--Boton añadir rol-->
        <div class="bañadir"><a href="anadirVenta"><button id="generarReporte" class="btn btn-primary" style="border-radius: 40px" class="boton" 
              style="color:white"><i class="fa-solid fa-plus"></i>Añadir venta</button></a>
        </div>
      </form>
    </div>

    <!-- tabla -->

    <div class="row">
      <div class="container mt-3">



        <table class="table table-striped" style="font-size: 17px; " >
          <thead>
            <tr>
              <th>Id venta</th>
              <th>Cliente</th>
              <th>Fecha hora </th>
              <th>Producto</th>
              <th>Precio compra</th>
              <th>Precio venta</th>
              <th>Cantidad producto</th>
              <th>Forma pago</th>
              <th>Total</th>
              <th>Costo mano obra</th>
              <th>Valor mano obra</th>
              <th>Id_cotizacion</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Juan Camilo Sanchez</td>
              <td>09/02/2022 </td>
              <td>02082023</td>
              <td>Aceite</td>
              <td>35.000</td>
              <td>1</td>
              <td>Transferencia</td>
              <td>35.000</td>
              <td>10.000</td>
              <td>22.212</td>
              <td>01</td>
              <td><a href="editar.html"><i class="fa-solid fa-pen-to-square fa-lg" style="color: #ef850b;"></i></a>
                <div class="switch">
                  <input type="checkbox" class="toggleSwitch" id="toggleSwitch1">
                  <label class="toggleLabel" for="toggleSwitch1"></label>
                </div>
              </td>
            </tr>
            <td>1</td>
              <td>Sara Urrea</td>
              <td>05/01/2021 </td>
              <td>Llanta Michelin</td>
              <td>50.000</td>
              <td>55.000</td>
              <td>1</td>
              <td>Efectivo</td>
              <td>50.000</td>
              <td>78.922</td>
              <td>2211</td>
              <td>02</td>
              <td><a href="editar.html"><i class="fa-solid fa-pen-to-square fa-lg" style="color: #ef850b;"></i></a>
                <div class="switch">
                  <input type="checkbox" class="toggleSwitch" id="toggleSwitch1">
                  <label class="toggleLabel" for="toggleSwitch1"></label>
                </div>
              </td>
            </tr>
            <td>1</td>
              <td>Daniel Gomez</td>
              <td>03/04/2023 </td>
              <td>Kit arrastre </td>
              <td>20.000</td>
              <td>5.000</td>
              <td>1</td>
              <td>Efectivo</td>
              <td>20.000</td>
              <td>25.762</td>
              <td>11.122</td>
              <td>03</td>
              <td><a href="editar.html"><i class="fa-solid fa-pen-to-square fa-lg" style="color: #ef850b;"></i></a>
                <div class="switch">
                  <input type="checkbox" class="toggleSwitch" id="toggleSwitch1">
                  <label class="toggleLabel" for="toggleSwitch1"></label>
                </div>
              </td>
            </tr>
            
          </tbody>
        </table>
      </div>
      <!--Boton de generar reporte-->
      <div class="breporte"><a href="#"><button class="btn btn-primary" style="border-radius: 40px" class="boton"><i class="fa-solid fa-file"></i>Generar reporte</button></a>
        </div>

      <!--paginado-->
      <div class="container mt-3">

        <ul class="pagination justify-content-end">
          <li class="page-item"><a class="page-link" href="javascript:void(0);"><i
                class="fa-solid fa-backward-step"></i></a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item active"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="javascript:void(0);"><i
                class="fa-solid fa-forward-step"></i></a></li>
        </ul>
      </div>


      <!-- footer content -->
      <!-- /footer content -->
    </div>
  </div>