<!-- /top navigation -->

<!-- head -->
<div class="right_col" role="main">

  <div class="row" style="display: inline-block;">

    <h1>Productos</h1>
    <div class="tile_count">

      <!--APARTADO DE AÑADIR FLECHA-
            <i class="fa-solid fa-backward"></i> -->



    </div>
  </div>
  <!--search-->
  <div>

    <div class="contenedorBarras">
      <form class="d-flex">
        <div class="bbuscar">
          <nav class="navbar navbar-light bg-light">
            <form class="container-fluid">
              <div class="input-group">
                <span style="border-radius: 40px;  background-color: white" class="input-group-text"
                  id="basic-addon1"><i class="fa-solid fa-magnifying-glass"></i>
                  <input style="border-radius: 40px; border: none;" type="text" class="form-control "
                    placeholder="Buscar" aria-label="Nombre de usuario" aria-describedby="basic-addon1"></span>
              </div>
            </form>
          </nav>
        </div>
        <!--Boton añadir rol-->
        <div class="bañadir"><a href="/anadirProducto"><button class="btn btn-primary" style="border-radius: 40px" class="boton" 
              style="color:white"><i class="fa-solid fa-plus"></i>Añadir productos</button></a>
        </div>
      </form>
    </div>

    <!-- tabla -->

    <div class="row">
      <div class="container mt-3">



        <table class="table table-striped" style="font-size: 17px">
          <thead>
            <tr>
              <th>Id producto</th>
              <th>Nombre producto</th>
              <th>Precio compra</th>
              <th>Precio venta</th>
              <th>Cantidad</th>
              <th>Proveedor</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Aceite</td>
              <td>20000</td>
              <td>25000</td>
              <td>6</td>
              <td>Marcos Lopez</td>
              <td><a href="editar.html"><i class="fa-solid fa-pen-to-square fa-lg" style="color: #ef850b;"></i></a>
                <div class="switch">
                  <input type="checkbox" class="toggleSwitch" id="toggleSwitch1">
                  <label class="toggleLabel" for="toggleSwitch1"></label>
                </div>
              </td>
            </tr>
            <tr>
              <td>2</td>
              <td>Lubricante</td>
              <td>14000</td>
              <td>20000</td>
              <td>10</td>
              <td>Manuela Gomez</td>
              <td><a href="editar.html"><i class="fa-solid fa-pen-to-square fa-lg" style="color: #ef850b;"></i></a>
                <div class="switch">
                  <input type="checkbox" class="toggleSwitch" id="toggleSwitch1">
                  <label class="toggleLabel" for="toggleSwitch1"></label>
                </div>
              </td>
            </tr>
            <tr>
              <td>3</td>
              <td>Baterias</td>
              <td>100000</td>
              <td>125000</td>
              <td>4</td>
              <td>Julio Cortes</td>
              <td><a href="editar.html"><i class="fa-solid fa-pen-to-square fa-lg" style="color: #ef850b;"></i></a>
                <div class="switch">
                  <input type="checkbox" class="toggleSwitch" id="toggleSwitch1">
                  <label class="toggleLabel" for="toggleSwitch1"></label>
                </div>
              </td>
            </tr>
            <tr>
              <td>4</td>
              <td>Neumaticos</td>
              <td>15000</td>
              <td>25000</td>
              <td>16</td>
              <td>Patricia Vergara</td>
              <td><a href="editar.html"><i class="fa-solid fa-pen-to-square fa-lg" style="color: #ef850b;"></i></a>
                <div class="switch">
                  <input type="checkbox" class="toggleSwitch" id="toggleSwitch1">
                  <label class="toggleLabel" for="toggleSwitch1"></label>
                </div>
              </td>
            </tr>
            <tr>
              <td>5</td>
              <td>Luces</td>
              <td>30000</td>
              <td>45000</td>
              <td>7</td>
              <td>Camila Paternina</td>
              <td><a href="editar.html"><i class="fa-solid fa-pen-to-square fa-lg" style="color: #ef850b;"></i></a>
                <div class="switch">
                  <input type="checkbox" class="toggleSwitch" id="toggleSwitch1">
                  <label class="toggleLabel" for="toggleSwitch1"></label>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <!--paginado-->
      <div class="container mt-3">

        <ul class="pagination justify-content-end">
          <li class="page-item"><a class="page-link" href="javascript:void(0);"><i
                class="fa-solid fa-backward-step"></i></a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item active"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="javascript:void(0);"><i
                class="fa-solid fa-forward-step"></i></a></li>
        </ul>
      </div>


      <!-- footer content -->
      <!-- /footer content -->
    </div>
  </div>