<!-- /top navigation -->

<!-- head -->
<div class="right_col" role="main">

    <div class="row" style="display: inline-block;">

        <h1>Usuarios</h1>
        <div class="tile_count">

            <!--APARTADO DE AÑADIR FLECHA-
            <i class="fa-solid fa-backward"></i> -->



        </div>
    </div>
    <!--search-->
    <div>

        <div class="contenedorBarras">
            <form class="d-flex">
                <div class="bbuscar">
                    <nav class="navbar navbar-light bg-light">
                        <form class="container-fluid">
                            <div class="input-group">
                                <span style="border-radius: 40px;  background-color: white" class="input-group-text"
                                    id="basic-addon1"><i class="fa-solid fa-magnifying-glass"></i>
                                    <input style="border-radius: 40px; border: none;" type="text" class="form-control "
                                        placeholder="Buscar" aria-label="Nombre de usuario"
                                        aria-describedby="basic-addon1"></span>
                            </div>
                        </form>
                    </nav>
                </div>
                <!--Boton añadir rol-->
                <div class="bañadir"><a href="anadirUsuarios"><button class="btn btn-primary"
                            style="border-radius: 40px" class="boton" style="color:white"><i
                                class="fa-solid fa-plus"></i>Añadir Usuarios</button></a>
                </div>
            </form>
        </div>

        <!-- tabla -->

        <div class="row">
            <div class="container mt-3">



                <table class="table table-striped" style="font-size: 17px">
                    <thead>
                        <tr>
                            <th>Id usuario</th>
                            <th>Nombre </th>
                            <th>Direccion</th>
                            <th>Telefono</th>
                            <th>Correo</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Emanuel Zapata</td>
                            <td>Calle 77C# 91-20 INT 201</td>
                            <td>305048939</td>
                            <td>ema@gmail.com</td>
                            <td><a href="editar.html"><i class="fa-solid fa-pen-to-square fa-lg"
                                        style="color: #ef850b;"></i></a>
                                <div class="switch">
                                    <input type="checkbox" class="toggleSwitch" id="toggleSwitch1">
                                    <label class="toggleLabel" for="toggleSwitch1"></label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Sandra Orozco</td>
                            <td>Cra 22A 33-02</td>
                            <td>2602899</td>
                            <td>sro@gmail.com</td>
                            <td><a href="editar.html"><i class="fa-solid fa-pen-to-square fa-lg"
                                        style="color: #ef850b;"></i></a>
                                <div class="switch">
                                    <input type="checkbox" class="toggleSwitch" id="toggleSwitch1">
                                    <label class="toggleLabel" for="toggleSwitch1"></label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Camilo Velazques</td>
                            <td>Avenida 80 #91-22</td>
                            <td>3050999929</td>
                            <td>cm@gmail.com</td>
                            <td><a href="editar.html"><i class="fa-solid fa-pen-to-square fa-lg"
                                        style="color: #ef850b;"></i></a>
                                <div class="switch">
                                    <input type="checkbox" class="toggleSwitch" id="toggleSwitch1">
                                    <label class="toggleLabel" for="toggleSwitch1"></label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Santiago Sanchez A</td>
                            <td>No aplica</td>
                            <td>3048034033</td>
                            <td>sza@gmail.com</td>
                            <td><a href="editar.html"><i class="fa-solid fa-pen-to-square fa-lg"
                                        style="color: #ef850b;"></i></a>
                                <div class="switch">
                                    <input type="checkbox" class="toggleSwitch" id="toggleSwitch1">
                                    <label class="toggleLabel" for="toggleSwitch1"></label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>laura Duque</td>
                            <td>Calle 33B #22A-05</td>
                            <td>324302933</td>
                            <td>ld@hotmail.com</td>
                            <td><a href="editar.html"><i class="fa-solid fa-pen-to-square fa-lg"
                                        style="color: #ef850b;"></i></a>
                                <div class="switch">
                                    <input type="checkbox" class="toggleSwitch" id="toggleSwitch1">
                                    <label class="toggleLabel" for="toggleSwitch1"></label>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!--paginado-->
            <div class="container mt-3">

                <ul class="pagination justify-content-end">
                    <li class="page-item"><a class="page-link" href="javascript:void(0);"><i
                                class="fa-solid fa-backward-step"></i></a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item active"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0);"><i
                                class="fa-solid fa-forward-step"></i></a></li>
                </ul>
            </div>


            <!-- footer content -->
            <!-- /footer content -->
        </div>
    </div>